td
{
	padding: 10px;
	
}
table{
	border: 1px solid gray;
	background-color:white;
	margin-top:32px;
}
label{margin-bottom: 0px;}
.even
{
	background-color: #E0E0E0 ;
}
.starter-template 
{
	color: white;
	margin-top:65px;
}

#logo
{
	position: absolute;
	top: 40px;
	left: 0px;
	display: block;
	width: 315px;
	/*height: 108px;*/
	text-indent: -9999em;
	background: url(/assets/images/petsafe-logo.png) no-repeat top left;
	z-index: 1032;
	background-size:contain;
	height: 91px;
}
#footerimage
{
	width:100%; 
	height:auto; 
	position:absolute; 
	bottom:0px; right:0px;
}
p.lead,.starter-template h1
{
	margin-left:200px;
}

a{
	color: rgb(66, 139, 202);
}
input[type="submit"]
{
	margin-top: 10px;
}
@media only screen 
and (max-width : 766px) {
	#logo, #footerimage
	{
		display:none;
	}
	p.lead,.starter-template h1
	{
		margin-left:0px;
	}
  	p.lead,.starter-template h1
	{
		font-size:12px;
	}
	div.starter-template
	{
		margin-top:57px;
	}
}
@media only screen 
and (max-height : 500px) {
	#footerimage
	{
		display:none;
	}
	
}